<h1>New poster</h1>

<% form_for(@poster) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= text_field_with_auto_complete :poster, :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', posters_path %>
